@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-flow: column;
}

a {
  color: inherit;
  text-decoration: none;
}
